p
{
    font-family: 'Roboto', sans-serif;  
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.body
{
    background-color: black;
    margin: 0;
    padding-top: 80px ;
    padding-left: 96px;
    padding-right: 24px;

}